.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}


.service-card {
    background: #0b2238;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.service-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 171, 240, 0.3);
}
